---
---


// Reset, variables and framework
@import "reset";
@import "variables";
@import "bulma/bulma";



// Helpers
@import "helpers/media";



// Utilities
@import "utilities/spacing";


// Home intro and Bulma overrides
@import "bulma-overrides/blockquote";
@import "bulma-overrides/button";
@import "bulma-overrides/content";
@import "bulma-overrides/menu";
@import "bulma-overrides/modifiers";
@import "bulma-overrides/navbar";
@import "bulma-overrides/title";
@import "intro";


html {
    background-color: $color-background;
    font-size: 1.5em;
}

body {
    background-color: $color-background;
    font-family: 'Josefin Sans', sans-serif;
    color: $color-foreground;
}

@import "highlights";
@import "svg-icons";
